#photo-popup {
  max-width: max(85vw, 400px);
}

#photo-popup::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

#dialog-img {
  max-width: 100%;
  max-height: calc(90vh - 32px);
}

.container {
  --column-count: 2;

  width: 90vw;
  margin: auto;

  display: grid;
  gap: 10px;

  grid-template-columns: repeat(var(--column-count), minmax(250px, 1fr));
}

@media screen and (min-width: 850px) {
  .container {
    --column-count: 3;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    --column-count: 4;
  }
}

@supports (grid-template-rows: masonry) {
  .container {
    grid-template-rows: masonry;
    masonry-auto-flow: pack ordered;
  }
}

.photo-wrapper {
  cursor: pointer;
}

.container > .portrait {
  grid-column-end: span 1;
  grid-row-end: span 2;
}

.container > .square {
  grid-column-end: span 2;
  grid-row-end: span 2;
}
