#photo-popup {
  max-width: max(85vw, 400px);
}

#photo-popup::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

#dialog-img {
  max-width: 100%;
  max-height: calc(90vh - 32px);
}

.photo-wrapper {
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-wrapper img {
  width: 100%;
}

.portrait img {
  width: 50%;
}

.square img {
  width: 80%;
}

.container {
  --column-count: 2;
  --min-column-width: 250px;
  --column-gap: 10px;

  width: 90vw;
  margin: auto;

  display: flex;
  column-count: var(--column-count);
  flex-wrap: wrap;

  gap: var(--column-gap) var(--column-gap);

  .photo-wrapper {
    width: calc(
      (100% - var(--column-count) * var(--column-gap)) / var(--column-count)
    );
  }

  @supports (grid-template-rows: masonry) {
    display: grid;
    grid-template-columns: repeat(
      var(--column-count),
      minmax(var(--min-column-width), 1fr)
    );
    grid-template-rows: masonry;

    masonry-auto-flow: pack;

    .photo-wrapper {
      width: unset;
    }

    .portrait {
      grid-row-end: span 2;

      img {
        width: 100%;
      }
    }

    .square {
      grid-column-end: span 2;
      grid-row-end: span 2;

      img {
        width: 100%;
      }
    }
  }

  @media screen and (min-width: 850px) {
    --column-count: 3;
  }

  @media screen and (min-width: 1200px) {
    --column-count: 4;
  }

  @media screen and (min-width: 2000px) {
    --column-count: 5;
  }
}
