<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <script src="/js/index.js" ></script>
    </head>

    <body>
        <section class="container">
            <% for (const image of images) { %>
                <div class="photo-wrapper <%= image.class %>">
                    <img 
                        src="/images/<%= image.src %>"
                        loading=lazy
                        decoding="async"
                    >
                </div>
            <% } %>
        </section>
        <dialog id="photo-popup">
            <div class="photo-wrapper">
                <img id="dialog-img" />
            </div>
            <a id="open-orig" rel="noreferrer noopener" role="button" target="_blank" tabindex="0">Open original</a>
        </dialog>
    </body>
</html>